body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f4f4f4;
 }
 
 #app {
    width: 900px;
    text-align: center;
 }
 
 #chart {
    margin-top: 20px;
 }
 
 .bar {
    transition: fill 0.3s;
 }
 
 .bar:hover {
    fill: orange;
 }
 
 #slider-container {
    margin: 20px 0;
 }
 
 #year-label {
    font-weight: bold;
 }

 #map {
   width: 70%;
   height: 90%;
 }
     
 #controls {
   position: absolute;
   top: 10px;
   left: 10px;
   z-index: 1;
 }
 .btn {
   background-color: #333;
   color: white;
   padding: 10px;
   margin: 5px;
   border: none;
   cursor: pointer;
 }
 .btn:hover {
   background-color: #555;
 }